In [14]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
df=pd.read_csv('/kaggle/input/insurance/insurance_data.csv')
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [19]:
X=df[['age']]
y=df['bought_insurance']
X

    age
0    22
1    25
2    47
3    52
4    46
5    56
6    55
7    60
8    62
9    61
10   18
11   28
12   27
13   29
14   49
15   55
16   25
17   58
18   19
19   18
20   21
21   26
22   40
23   45
24   50
25   54
26   23

In [20]:
model=LogisticRegression()
X_train , X_test , y_train ,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [23]:
model.fit(X_train,y_train)
X_test

    age
7    60
5    56
18   19
21   26
11   28
1    25

In [22]:
model.predict(X_test)

array([1, 1, 0, 0, 0, 0])

In [24]:
model.score(X_test,y_test)

1.0